*.aux
*.log
*.out
*.toc
*.synctex.gz
*.DS_Store
*.Rhistory
*.bak
*.lof
*.lot



# dependencies
node_modules

# testing
coverage

# production
build
build_webpack

# misc
.env
npm-debug.log
.truffle-solidity-loader
