body, .pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
  padding-top: 0.5em;
  margin: .67em 0;
}

.box_pages {
  margin-bottom: 3em;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  //padding: 15px 20px;
}

.pure-button-primary {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;

  &:hover {
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    transition: 0.5s;
  }
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

.div_button_signup {
  margin-left: 3em;
  margin-top: 0.5em;
}

.div_button_insertuser {
  margin-left: 1.3em;
  margin-top: 0.2em;
}

.navbar {
  background: #475666;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  a {
    color: #fff;
    &:active, &:focus, &:hover {
      background-color: transparent;
    }
  }
  .pure-menu-list li {
    &:active, &:focus, &:hover {
      background-color: transparent;
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  .pure-menu-list a {
    &:active, &:focus, &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .logo {
    padding-top: 0.3em;
    margin-left: 0.8em;
  }

  .pure-menu-heading {
    text-transform: none;
  }

  .navbar-right { //è importante, non cancellare
    float: right; 
    padding-top: 1em;
  } 

  .uport-logo {
    height: 16px;
    margin-right: 10px;
  }
}

