body, .pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 35px;
}

h2, h3 {
  font-size: 27px;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 20px;
  margin-bottom: 0.3em;
}

h4:after {
  display: block;
  height: 0.05em;
  background-color: #333;
  content: " ";
  width: 21em;
  margin: 0 auto;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.box_pages {
  margin-bottom: 3em;
}

p {
  margin: 0em 4em;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
}

.pure-button-primary {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;

  &:hover {
    color: #333;
    background-color: #fff;
    border: 1px solid #333;
    transition: 0.5s;
  }
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

.div_button_signup {
  margin-left: 3em;
  margin-top: 0.5em;
}

.div_button_insertuser {
  margin-left: 1.3em;
  margin-top: 0.2em;
}

.navbar {
  // position: fixed;
  background: #9C0015;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
  border-bottom: 1em solid #333;
  a {
    color: #fff;
    &:active, &:focus, &:hover {
      background-color: transparent;
    }
  }
  .pure-menu-list a {
    color: #fff;
    &:active, &:focus, &:hover {
      background-color: transparent;
      transform: scale(1.2);
      transition: 0.3s;
    }
  }

  .logo {
    margin-left: 1em;
    padding-top: 0.3em;
  }

  .pure-menu-heading {
    text-transform: none;
    font-size: 1.55em;
  }
  .navbar-right {
    float: right;
  }
  .uport-logo {
    height: 16px;
    margin-right: 10px;
  }
}

