/*--------------------------------------------------------------*/
/*  max  480  */
/*--------------------------------------------------------------*/
@media screen and (max-width:480px) {
    .book-img {
        margin-top: 0.5em;
        width: 85%;
        margin-left: 7.5%;
    }

    .top-navbar {
        height: 5em;
    }

    .pure-menu-link {
        padding-top: 0em;
    }

    .pure-menu-item a {
        margin-top: 1.8em;
        font-size: 0.9em;
    }

    .float-right ul {
        margin-right: 1.5em;
    }

    .pure-u-1-1 h1 {
        font-size: 1.4em;
        padding-top: 1.5em;
        width: 90%;
        margin-left: 5%;
    }

    .pure-u-1-1 p {
        font-size: 0.9em;
    }

    .pure-form fieldset {
        width: 13em;
    }

    .pure-form-message {
        font-size: 0.81em;
    }

    .pure-form-stacked label {
        font-size: 0.89em;
    }

    .pure-form input[type=text] {
        font-size: 0.9em;
        width: 12em;
    }

    td {
        font-size: 0.85em;
    }

    .insert-button a {
        font-size: 0.9em;
    }

    .pure-button {
        padding: 0.3em 0em;
    }

    .table {
        width: 90%;
        margin-left: 5%;
    }

    .pure-u-1-1 p {
        width: 80%;
        margin-left: 10%;
        margin-top: 0em;
        margin-bottom: 2.5em;
    }

    .pure-u-1-1 h1 {
        margin-bottom: 0.3em;
    }

    .title-column {
        font-size: 0.85em;
    }

    .pure-form-stacked select {
        font-size: 0.80em;
    }

    .top_message {
        font-size: 1.2em;
    }
}

/*--------------------------------------------------------------*/
/*  481 - 768  */
/*--------------------------------------------------------------*/
@media screen and (min-width: 481px) and (max-width:768px) {
    .book-img {
        margin-top: 0em;
        width: 85%;
        margin-left: 7.5%;
    }

    .top-navbar {
        height: 5em;
    }

    .pure-menu-link {
        padding-top: 0em;
    }

    .pure-menu-item a {
        font-size: 1.1em;
    }

    .pure-u-1-1 h1 {
        font-size: 1.6em;
        padding-top: 1.4em;
        width: 80%;
        margin-left: 10%;
    }

    .pure-u-1-1 p {
        font-size: 1em;
        width: 80%;
        margin-left: 10%;
    }

 .pure-form fieldset {
        width: 20em;
    }

.pure-form-stacked fieldset{
        width: 10em;
    }


    .pure-menu-item a {
        font-size: 0.99em;
    }

    .float-left-links ul {
        padding-left: 0em;
    }

}

/*--------------------------------------------------------------*/
/*  769 - 1024  */
/*--------------------------------------------------------------*/

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .pure-u-1-1 h1 {
        font-size: 1.7em;
    }

    .book-img {
        margin-top: 3.5em;
        width: 90%;
        margin-left: 5%;
    }

.pure-form fieldset{
        width: 20em;
    }

.pure-form-stacked fieldset{
        width: 10em;
    }


}
