{
  "presets": [
    ["env", {
      "modules": false,
      "exclude": ["transform-regenerator"]
    }], "react", "stage-2"
  ],
  "plugins": [
    ["babel-plugin-transform-es2015-arrow-functions", "transform-class-properties", "transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }]
  ],
  "env": {
    "test": {
      "presets": ["env", "react", "es2015"],
      "plugins": ["babel-plugin-transform-es2015-arrow-functions", "transform-class-properties", ]
    }
  }
}